.dropdown{
    display: flex;
    justify-content: center;
}

.dropdown-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 75vw;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .dropdown-button{
    border: 0;
    color: white;
    height: 40px;
    border-radius: 5px;
  }
  
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select{
    width: 250px;
    text-align: center;
    margin: 10px;
  }
  
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  