.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 75vw;
    padding: 20px;
    border-radius:10px ;
}

.hospital-info{
    text-align: left;
}

.image-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img{
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.button-section{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.slots{
    width: 75vw;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    margin: -20px;
}